---
import type { CollectionEntry } from 'astro:content';

interface Props {
    article: CollectionEntry<'news'>;
}

const { data, slug } = Astro.props.article;
---

<article class="flex max-w-xl flex-col items-start justify-between">
    <div class="flex items-center gap-x-4 text-xs">
    <time dateTime={data.publishDate} class="text-gray-500">
        {data.publishDate.toLocaleDateString()}
    </time>
    </div>
    <div class="group relative">
    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
        <a href={`/news/${slug}`}>
            <span class="absolute inset-0" />
            {data.title}
        </a>
    </h3>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{data.description}</p>
    </div>
    <div class="relative mt-8 flex items-center gap-x-4">
    <img src={data.author.imageUrl} alt="" class="h-10 w-10 rounded-full bg-gray-50" />
    <div class="text-sm leading-6">
        <p class="font-semibold text-gray-900">
            <a href={`/author/${data.author.slug}`}>
                <span class="absolute inset-0" />
                {data.author.name}
            </a>
        </p>
    </div>
    </div>
</article>
